*{
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

header{
    display: inline;
    width: 100%;
    background-image: linear-gradient(200deg, #fdfbfb 0%, #ebedee 100%);
    padding: 1% 3.5% 1% auto;
    margin:0;
}

#navbar{
    top:0;
    width: 100%;
} 

#fondo {
    background-color: #fff;
    background-image: url(https://www.wallpapertip.com/wmimgs/45-450828_kung-fu-panda-background.jpg);
    background-size: cover;
    display:grid;
    align-items: center;
    justify-content: center;
    /*margin-block-end: 1%;*/
    
}

@media (min-height: 400px){
    #fondo{
        height: 300px;
    }
}

@media (max-height: 400px){
    #fondo{
        background-image: none;
    }

  
}

#fondo div{
    
    background-color: rgba(255,255,255,0.3);
    border-radius: 5px;
    text-align:center;
    -webkit-backdrop-filter: blur(10px) ;
    backdrop-filter: blur(10px);
    width: auto;
    text-align: center;
}

hr{
    /* https://webgradients.com/*/
    background: #06beb6;  /*fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /*Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 1rem;
}

#cont{
    text-align: center;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    padding:3rem 5rem 3rem 5rem;
    grid-gap:1rem;
}

#cont div{
    align-self: center;
    border: solid red 2px;
    padding: auto;
}

#art{
    padding: 10%;
}

#void-form{
    font-size: xx-small;
}


.nota-img{
    width: minmax(150px, 50%);
    background-position: 45px;


}

footer{
    margin-top: 2rem;
}

h2{
    font-family:sans-serif
}



.card-header, .card-title{
text-align: center;
}

.btn{
position: center;
}