$justificado:justify;
$margen-art:1% 1% 1% 1%;
$degradado-chrome: -webkit-linear-gradient(to right, #48b1bf, #06beb6); /*Chrome 10-25, Safari 5.1-6 */
$degradado-w3c:linear-gradient(to right, #48b1bf, #06beb6); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
$borde-1: solid 1px #000;



.container .row{
    text-align: $justificado;
    margin: $margen-art;
    border-radius: 1rem ;
    border: $borde-1;
    width: 100%;
    padding: 5%;
}

hr, .container .row{
    /* https://webgradients.com/*/
    background: #06beb6;  /*fallback for old browsers */
    background:  #06beb6;  /*fallback for old browsers */
    background: $degradado-chrome;  
    background: $degradado-w3c ;
    margin: $margen-art;
}


@media (min-height: 400px){

    hr{
        height: 5px;
    }
}

